#|----------------|
#| Node
#|----------------------|
node_modules/

#|----------------|
#| Yarn
#|----------------------|
yarn.lock
yarn-error.log

#|----------------|
#| Environment
#|----------------------|
*.env
!example/.env

#|----------------|
#| Logs
#|----------------------|
logs/
